@charset "UTF-8";

@font-face {
    font-family: "Conv_Inconsolata-Bold";
    src: url("./fonts/Inconsolata-Bold/Inconsolata-Bold.eot");
    src: local("☺"), url("./fonts/Inconsolata-Bold/Inconsolata-Bold.woff") format("woff"), url("./fonts/Inconsolata-Bold/Inconsolata-Bold.ttf") format("truetype"), url("./fonts/Inconsolata-Bold/Inconsolata-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Conv_Inconsolata-Medium";
    src: url("./fonts/Inconsolata-Medium/Inconsolata-Medium.eot");
    src: local("☺"), url("./fonts/Inconsolata-Medium/Inconsolata-Medium.woff") format("woff"), url("./fonts/Inconsolata-Medium/Inconsolata-Medium.ttf") format("truetype"), url("./fonts/Inconsolata-Medium/Inconsolata-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Conv_Inconsolata-SemiBold";
    src: url("./fonts/Inconsolata-SemiBold/Inconsolata-SemiBold.eot");
    src: local("☺"), url("./fonts/Inconsolata-SemiBold/Inconsolata-SemiBold.woff") format("woff"), url("./fonts/Inconsolata-SemiBold/Inconsolata-SemiBold.ttf") format("truetype"), url("./fonts/Inconsolata-SemiBold/Inconsolata-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Conv_Inconsolata-Light";
    src: url("./fonts/Inconsolata-Light/Inconsolata-Light.eot");
    src: local("☺"), url("./fonts/Inconsolata-Light/Inconsolata-Light.woff") format("woff"), url("./fonts/Inconsolata-Light/Inconsolata-Light.ttf") format("truetype"), url("./fonts/Inconsolata-Light/Inconsolata-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Conv_Inconsolata-Regular";
    src: url("./fonts/Inconsolata-Regular/Inconsolata-Regular.eot");
    src: local("☺"), url("./fonts/Inconsolata-Regular/Inconsolata-Regular.woff") format("woff"), url("./fonts/Inconsolata-Regular/Inconsolata-Regular.ttf") format("truetype"), url("./fonts/Inconsolata-Regular/Inconsolata-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }